<div class="spanPost">

  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
<div id="tabs" class="span7 whiteBG">
  <ul>
    <li><a href="#tabs-1">Status</a></li>
    <li><a href="#tabs-2">Image/Picture</a></li>
    <li><a href="#tabs-3">Video</a></li>
  </ul>
  <div id="tabs-1">
  		<%= form_for(@new_post) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :content, rows: "3", class: "spanPost pull-right", placeholder: "What is on your mind..." %>
          
          <%= f.submit "Post", class: "btn btn-small btn-primary pull-right" %>
		<% end %>        
  </div>
  <div id="tabs-2">
    <%= form_for(@new_post) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :content, rows: "3", class: "spanPost pull-right", placeholder: "Describe the Picture...." %>
          
          Upload <%= f.file_field :wall %>
          <%= f.submit "Post", class: "btn btn-small btn-primary pull-right" %>
		<% end %>        
  </div>
  <div id="tabs-3">
    <%= form_for(@new_post) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :content, rows: "3", class: "spanPost pull-right", placeholder: "What is in the Video..." %>
          
          Upload <%= f.file_field :vid %>
          <%= f.submit "Post", class: "btn btn-small btn-primary pull-right" %>
		<% end %>        
  </div>
</div>
</div>