<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :fName, "First Name" %>
      <%= f.text_field :fName %>

      <%= f.label :lName, "Last Name" %>
      <%= f.text_field :lName %>

      <%= f.label :email, "" %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password, value: params[:password] %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation , value: params[:password_confirmation]%>

      <%= f.label :pic, "Display Pic" %>
      <%= f.file_field :pic, class: "input" %>

      <%= f.label :wall, "Wall Photo" %>
      <%= f.file_field :wall, class: "input" %>
      <br>
      <%= f.submit "Save Changes", class: "btn btn-large btn-success" %>
    <% end %>
  </div>
</div>
