<% provide(:title, 'Friends') %>
<h1>Friends</h1>


<ul class="users nav">
  <% @users.each do |user| %>
    <li class="span4">
      <nav>
        
        <li>
          <%if user.pic_file_name? %>
          <%= link_to image_tag(user.pic.url(:thumb), alt: "Rails", class: "miniDP") %> <%= link_to "#{user.fName} #{user.lName}", user %>
          <%else%>
                <%= link_to image_tag("picsmall.png", alt: "Rails", class: "miniDP") %> <%= link_to "#{user.fName} #{user.lName}", user %>
          <%end%>
          <% if current_user.admin? && !current_user?(user) %>
         <%= link_to "Delete", user, class: "btn btn-mini btn-danger pull-right", 
                                  method: :delete,
                                  data: { confirm: "You sure?" } %>
        
          <% end %>
          </li>        
      </nav>
    </li>
    <br><br>
  <% end %>
</ul>

