
  <%if @user.wall_file_name? %>
  <div class="coverPhoto">
    <%= link_to (image_tag @user.wall.url(:large)), @user.wall.url %>    
</div>
<%else%>
<div class="noCover">
  
</div>
<%end%>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav blueText">
          <li><% if current_user?(@user)%><%= link_to "Edit Profile", edit_user_path(current_user) , class: "blueText" %><%end%></li>
          <li><a href="<%= friends_user_path(@user) %>" class="blueText">Friends(<%= @user.friend_users.count+@user.adders.count %>)<br>
  </a> </li>
          <li><%= link_to "News", feed_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>     
<div class="pull-left span4 userInfo">
   <% if current_user?(@user)%>
    <%else%>
  <section>
      <%= render 'friend_form' if signed_in? %>
  <section>
    <%end%>
  <%= render 'shared/user_info'%>    
</div>

<div class="span8">
  <div>
    <% if current_user?(@user)%>
      <%= render 'new_post'%>        
    <% end %>      
  </div>
  <div>
    <div class="span7">
      <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
          <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>
  </div>
</div>
