<li id="<%= feed_item.id %>">

  <%if feed_item.user.pic_file_name? %>
          <%= link_to image_tag(feed_item.user.pic.url(:thumb), alt: "Rails", class: "miniDP") %> <%= link_to "#{feed_item.user.fName} #{feed_item.user.lName}", feed_item.user %>
          <%else%>
                <%= link_to image_tag("picsmall.png", alt: "Rails", class: "miniDP") %> <%= link_to "#{feed_item.user.fName} #{feed_item.user.lName}", feed_item.user %>
          <%end%>
  
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>

