<%= form_for(@new_post) do |f| %>
<%= f.label :content, "Post" %><%= f.text_field :content %>
  <% if @new_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @new_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
