<header class="navbar navbar-fixed-top">
  <div class="navbar-inner darkBlueBG">
    <div class="container">
<% if signed_in? %>  
      <div class="pull-left">
        <%= link_to logoS, root_path %>
        &nbsp;
        <input type="text" class="search-margin input-medium">
        <button type="submit" class="btn btn-min btn-info">Search</button>

      </div>
      <nav>
        <ul class="nav pull-right grayText username">                  
          <li>
           <%= link_to "#{current_user.fName} #{current_user.lName}", user_path(current_user) %>
          </li>
          <li><%= link_to "All Users", users_path %></li>
          <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>            
        </ul>        
      </nav>
<% else %>
          <div class="pull-left">
            <%= link_to logoL, root_path %>            
          </div>
        <div class="pull-right">
          <table> 
            <%= form_for(:session, url: sessions_path) do |f| %>
            <tr>
              <td class="whiteText"><%= f.label :email,"Email or Phone", class: "smallText" %></td>
              <td class="whiteText"><%= f.label :password,"Password", class: "smallText" %></td>
            </tr>
            <tr>
              <td><%= f.email_field :email, placeholder: "Email", required: "required", class: "input-medium" %>&nbsp;</td>
              <td><%= f.password_field :password, placeholder: "Password", required: "required", class: "input-medium" %></td>
              <td><%= f.submit "Log In", class: "btn btn-small btn-primary" %></td>
            </tr>
            <tr>
              <td class="grayText smallText"><input type="checkbox" class="noMargin"/>&nbsp;Keep me logged in</td>
              <td class="grayText smallText">Forgot Password?</td>
            </tr>
            <% end %>
            </table>
        </div>
<% end %>

    </div>
  </div>
</header>